@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@579&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    font-family: "Source Code Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 579;
    font-style: normal;
    background-color: black;
    max-width: 1200px;
}

.button {
    color: white;
    font-size: 30px;
    border-radius: 8.5px;
    border: black;
    text-decoration: solid;
}

.button:hover {
    text-decoration: underline;
}

.p {
    font-size: 30px;
    color: white;
    margin: 0% 3% 0%;
}

.t {
    font-size: 120px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Pirata One", system-ui;
    border: black;
}

.t:hover {
    color: lightgray;
}

.t:focus {
    outline: none;
}

.button:focus, .t:focus {
    outline: none;

}

@media (max-width: 767px) {
    .t {
        font-size: 100px
    }
    .t:focus {
        outline: none;
    }
}

.footer {
    text-align: end;
}

.a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}

.a:focus {
    outline: none;
}